* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Anuphan', sans-serif;
}

.container {
    padding: 20px;
}

.box {
    /* background-color: #f2f2f2; */
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #adadad; */
    border-radius: 10px;
    text-decoration: none;
}
.box.i {
    background-color: #b8daff;
    border: 1px solid #0040ff;
}
.box.ii {
    background-color: #84f9a1;
    border: 1px solid #009a26;
}
.box.iii {
    background-color: #fc9696;
    border: 1px solid #ff0000;
}


.box2 {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}


.tag {
    background-color: rgba(51, 96, 246, 0.908);
    color: white;
    width: 100%;
    border: 1px solid #adadad;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* จัดตำแหน่งในแนวนอน */
    align-items: center; /* จัดตำแหน่งในแนวตั้ง */
    height: 30px; /* ปรับความสูงตามต้องการ */
    margin-top: 10px;
     
}

.tag.all {
    margin-right: 10px;
}

.tag.jay {
    margin-left: 10px;
}

.statement {
    background-color: #e2dcdc;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #adadad;
    display: flex;
    border-radius: 10px;

}

/*! ///////////////////////////////////////////////////////////// */

.control {
    width: 100%;
    padding: 10px;
    border: 1px solid #adadad;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.upload {
    width: 100%;
    height: 300px;
    background-color: #84f9a1;
    border: 2px dashed #adadad ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #b8daff;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.btn-save {
    background-color: #009a26;
    color: white;
    margin-left: 10px;
}
.btn-cancle {
    background-color: red;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
